.comment-user-link {
    text-decoration: none; /* 밑줄 제거 */
    color: #282c34; /* 닉네임 색상 */
    font-size: 15px; /* 닉네임 폰트 크기 */
    transition: color 0.2s ease-in-out; /* 부드러운 색상 변화 효과 */
}

.comment-user-link:hover {
    color: #61dafb; /* 호버 시 색상 변경 */
    text-decoration: underline; /* 호버 시 밑줄 추가 */
}

.comment-user-link .commentUser {
    font-weight: bold;
    margin-right: 5px;
}

.button-common {
    display: inline-block; /* 필요한 경우 가로로 배치 */
    width: 180px; /* 원하는 너비 설정 */
    padding: 8px 15px; /* 필요에 따라 padding 조정 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* 텍스트 가운데 정렬 */
    font-size: 20px; /* 텍스트 크기 설정 (선택 사항) */
}

.buy-button {
    background-color: #c1edbb;
    color: #fff;
}

.buy-button:hover {
    background-color: #2E8B57;
    color: #fff;
}

.join-button {
    margin-top: 20px;
    background-color: #FF3366;
}

.join-button:hover {
    background-color: #b81414;
}

/*찜하기 버튼*/
.heart-button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white; /* 기본 글자색 */
}

.button-hearted {
    background-color: #FF3366; /* 찜 완료 상태 배경색 */
}

.button-hearted:hover {
    background-color:#b81414 ;
}

.button-not-hearted {
    background-color: #4080ff; /* 찜 안 함 상태 배경색 */
}

.button-not-hearted:hover {
    background-color: #00498c;
}

.edit-button {
    padding: 10px 20px;
    background-color: #ffc107;
    color: white;
    border: none;
    borderRadius: 5px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #b89c14;
}

.delete-button {
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    borderRadius: 5px;
    cursor: pointer;
}

delete-button:hover {
    background-color: #b81414;
}
