.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-left a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-left .active {
    /*color: #c1edbb; !* 활성화된 링크 색상 *!*/
    color: #2E8B57;
}

.nav-right {
    display: flex;
    align-items: center;
}

.search-box {
    padding: 6px 30px 6px 36px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin-right: 20px;
    width: 270px; /* 원하는 만큼 조절 */
    background: url('./images/search-icon.png') no-repeat 10px center;
    background-color: #f5f5f5;
    background-size: 20px 20px; /* 돋보기 아이콘 크기 (원하는 크기로 조절) */
}

.search-box:focus {
    outline: none; /* 기본 파란색 아웃라인 제거 */
    border: 1px solid #c1edbb; /* 원하는 색상으로 테두리 변경 */
    box-shadow: 0 0 1px #c1edbb; /* 추가로 box-shadow까지 주어 더 자연스럽게 만들 수도 있음 */
}

.nav-right a {
    margin-left: 10px;
    text-decoration: none;
    color: #333;
}

.nav-right .active {
    font-weight: bold;
}

.logout-button {
    padding: 8px 15px;
    background-color: #c1edbb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    padding: 8px 15px;
    background-color: #2E8B57;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* 검색 버튼 추가 */
.search-button {
    padding: 8px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #c1edbb;
}

.search-button:hover {
    background-color: #2E8B57;
}

.nav-right-logged-in {
    display: flex;
    align-items: center;
}

.nav-mypage {
    margin-right: 15px; /* 로그아웃 버튼과의 간격 조정 */
    display: flex; /* 아이콘과 텍스트를 가로로 정렬 */
    align-items: center; /* 아이콘과 텍스트 수직 중앙 정렬 */
}

.nav-mypage-icon {
    font-size: 30px; /* 아이콘 크기 조정 */
    color: #666; /* 아이콘 색상 조정 */
    margin-right: 5px; /* 아이콘과 텍스트 간격 조정 */
}

.nav-mypage .active {
    color: #ff0000; /* 활성화된 마이페이지 링크 색상 */
}

/* 프로필 이미지 관련 스타일 */
.nav-mypage-img {
    width: 30px;
    height: 30px;
    border-radius: 50%; /* 원형 이미지 */
    object-fit: cover; /* 이미지 비율 유지하면서 채우기 */
    margin-right: 5px;
}

/* 알림 notification 관련 스타일 */
.noti-img {
    position: relative;
    width: 30px;
    height: 30px;
    /*object-fit: cover; !* 이미지 비율 유지하면서 채우기 *!*/
    margin-left: 5px;
    /*padding: 2px;*/

}

.badge {
    position: absolute;
    top: -3px;
    right: -3px;
    background: red;
    /*background: #2E8B57;*/
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.notification-list {
    padding: 10px;
    border: 1px solid #ccc;
}


.notification-container {
    margin-left: 30px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    width: 70%;

}


.delete-all-btn {
    marginBottom: 20px;
    margin-left: 20px;
    padding: 10px 20px;
    color: white;
    border: none;
    borderRadius: 5px;
    cursor: pointer;
    fontSize: 16px;
}

.delete-all-btn:hover {
    background-color: #2E8B57;
    color: #fff;
}


.notification-item {
    display: flex;
    align-items: center; /* 수직 정렬 */
    justify-content: space-between; /* 요소 간 공간 균등 분배 */
    border: 1px solid #eee;
    padding: 5px;
    margin-bottom: 15px;
    height: 40px;
}

.noti-icon {
    max-width: 30px; /* 최대 너비 조정 */
    max-height: 30px; /* 최대 높이 조정 */
    margin-right: 15px; /* 이미지와 텍스트 간격을 5px로 설정 */
}

.noti-message {
    margin: 0; /* 텍스트 마진을 0으로 설정 */
    font-size: 15px; /* 텍스트 크기 */
    flex-grow: 1; /* 남은 공간을 차지하도록 설정 */
}

.delete-btn {
    background-color: transparent;
    border: none;
    color: #da2232;
    cursor: pointer;
    height: 35px; /* 버튼 높이 */
    display: flex;
    align-items: center;
    justify-content: flex-end; /* 버튼 오른쪽 정렬 */
}
