.chat-list-container{
    max-height: 550px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    borderRadius: '4px';
}

/* 채팅 리스트 스크롤바 전체 */
.chat-list-container::-webkit-scrollbar {
    width: 8px; /* 스크롤바 너비 */
}

/* 채팅 리스트 스크롤바 배경 */
.chat-list-container::-webkit-scrollbar-track {
    background: #f0f0f0; /* 트랙 배경 색상 */
    border-radius: 10px; /* 모서리를 둥글게 */
}

/* 채팅 리스트 스크롤바 핸들 */
.chat-list-container::-webkit-scrollbar-thumb {
    background: #aaa; /* 핸들 색상 */
    border-radius: 10px; /* 모서리를 둥글게 */
}

/* 채팅 리스트 스크롤바 핸들에 마우스 오버 시 색상 변화 */
.chat-list-container::-webkit-scrollbar-thumb:hover {
    background: #888; /* 핸들 hover 색상 */
}

/* 채팅 리스트 스크롤바 핸들 클릭 시 색상 변화 */
.chat-list-container::-webkit-scrollbar-thumb:active {
    background: #666; /* 핸들 클릭 색상 */
}