/* ChatTabs.css */

.chat-tabs {
    display: flex;
    margin-bottom: 10px;
}

.chat-button {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: #00AE68;
}

.chat-button:hover {
    background-color: #236540;
    color: #fff;
}

.group-chat-button {
    flex: 1;
    padding: 10px;
    background-color: #00AE68;
    color: white;
    cursor: pointer;
}

.group-chat-button:hover {
    background-color: #236540;
    color: #fff;
}
