.book-home, .movie-home {
    padding: 20px;

}

/*.book-content {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center; !* 세로 가운데 정렬 *!*/
/*    justify-content: center; !* 가로 가운데 정렬 *!*/
/*    width: 100%; !* 부모 컨테이너에서 정렬을 위한 전체 폭 설정 *!*/
/*    margin: 0 auto; !* 여백 자동 설정 *!*/
/*}*/

.book-carousel-section, .movie-carousel-section {
    margin: 20px 0;

}

.book-carousel, .movie-carousel {
    display: flex;
    align-items: center;
    position: relative;
    /*margin-bottom: 20px;*/
}

.book-list, .movie-list {
    display: flex;
    /*width: 100%;*/
    overflow: hidden;
    width: 100%;
    justify-content: flex-start;

    align-items: flex-start; /* 카드들이 위아래로도 상단 정렬되도록(선택 사항) */
    /*margin: 0 auto;        !* 필요한 경우 수평 중앙에 배치 *!*/
}

.movie-card img {
    margin: 0px;
}

.book-card, .movie-card {
    /*width: 20%;*/
    /*margin-right: 20px;*/
    position: relative; /* 순위 표시를 위해 relative 설정 */
    flex: 0 0 18%;
    margin: 0 1%;
    text-align: center;
    text-decoration: none;
    color: inherit;

    transition: transform 0.2s ease-in-out; /* 부드러운 애니메이션 효과 */
}

.book-card:hover, .movie-card:hover {
    transform: scale(1.1); /* 1.1배 확대 */
    z-index: 1; /* 다른 요소 위에 표시 */
}

.book-rank, .movie-rank {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.book-image, .movie-image {
    width: 100%;
    /*padding-top: 56.25%; !* 16:9 비율 유지 (높이는 비율로 계산) *!*/
    /*position: relative;*/
    border-radius: 8px;
}

.book-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 비율 유지하면서 div를 채우도록 설정 */
}

.book-info, .movie-info {
    margin-top: 10px;
    text-align: center;
}

.book-title, .movie-title {
    font-size: 16px;
    /*margin-bottom: 5px;*/
    margin: 5px 0;
}

.book-writer, .movie-writer {
    font-size: 14px;
    color: #666;
}

.book-genres, .movie-genres {
    font-size: 0.9rem;
    color: #555;
}

.prev-button,
.next-button {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin: 0 10px;
}

.prev-button:disabled,
.next-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

@media (max-width: 768px) {
    .movie-card, .book-card {
        flex: 0 0 30%;
    }
}

@media (max-width: 480px) {
    .movie-card, .book-card {
        flex: 0 0 45%;
    }
}

.star-icon {
    color: gold; /* 별 색상 */
    font-size: 16px; /* 별 크기 */
    margin-right: 2px; /* 별 간 간격 */
}